*{outline:none;}
html,body
{
	overflow-x:hidden;
	width:  100.0%;
	height: 100.0%;
	margin: 0.0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
.imginicio
{
	height: 350.0px;
	width: 350.0px;
	display: block;
	margin: auto;
	padding: 10.0% 0.0;
}
#tabulatorDiv{
	padding-top:20.0px;
    background-color:transparent;
    border-color:transparent;
}
 /* width */
::-webkit-scrollbar {
  width: 10.0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 
.actividades
{
}
.actividadesCelda
{
	cursor: pointer;
	color: white;
	font-weight: bold;
    background-color: #ab263c;
}
.filasTabla
{
    background-color: #ffffff;
}

.filasImpares
{
	background-color: #f0f0f0f0;
}
.filasTabla td:first-child
{
	background-color: #ffffff;
	color: #000000;
   	font-weight: bold;
}
/*Primera columna de cada fila(la de los nombres de los alumnos)*/
.filasImpares td:first-child
{
	background-color: #f0f0f0f0;
	color: #000000;
   	font-weight: bold;
}

.visDiv{
	 outline: 0;
	height:95vh;
	width:100%;
}

.apexchart-container
{
	clear: both;
}
.chart-container
{
	height:88.0%;
	width: 95.0%;
	margin-top:4%;
	margin-left:2%;
	display: none;
}
	
.controles{
	float:left;
	position: relative;
	width: 100.0%;
	background-color: #f2f2f2;
	display: inline-block;
}

.opciones {
	position: relative;
	display: inline-block;
}
	
.opciones .btn {
	height: 100.0%;
	background-color: transparent;
	border: none;
	box-shadow: inset 0.0 -3.0px 0.0px 0.0px #25c5d8;
	color: #000000;
	font-size: 14.0px;
	font-weight: bold;
	cursor: pointer;
	padding-left: 22.0px;
	background-image: url(./../img/visibility_off.png);
	background-repeat: no-repeat;
	background-position: center left 2.0px;
	margin: 2.0px;
}

.opciones .btn:hover {
	box-shadow: inset 0.0 -4.0px 0.0px 0.0px #25c5d8;
}
	
.pestañas {
	
	position: relative;
	display: inline-block;
	padding-right: 2.0px;
}

.pestañas .btn {
	height: 100.0%;
	background-color: #f2f2f2;
	border: none;
	color: #000000;
	font-size: 14.0px;
	font-weight: bold;
	cursor: pointer;
	margin: 2.0px;
}
.pestañas .btn:hover {
	background-color:  #f2f2f2;
	box-shadow: inset 0.0 -3.0px 0.0px 0.0px #25c5d8;
}
 
button:disabled,
button[disabled] {
	background-color:  #f2f2f2;
	box-shadow: inset 0.0 -3.0px 0.0px 0.0px #25c5d8;
}

.apexcharts{
	font-weight: bold;
	font-size: 14.0px;
}
.apexcharts-data-labels{ display:contents !important; }

.tabulator .tabulator-header .tabulator-col {
    text-align:center;
}