

.text-field-login {
	-fx-background-color:transparent;
    -fx-padding:0.0 0.0 8.0 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width:0.0 0.0 2.0 0.0;
    -fx-border-color: #26c6da;
}

.text-field-main {
	-fx-background-color: white;
	-fx-border-radius: 1.0;
	-fx-border-color: #b0b0b0; 
}

.button{
	-fx-background-color: #26c6da;
	-fx-font-size: 13.0px;
	-fx-font-weight: bold;
	-fx-background-radius: 2.0px;
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.4) , 10.0,0.0,2.0,2.0 ); 
}
.danger_button{
	-fx-background-color: #DC143C;
}
.button:hover{
	-fx-background-color: #6ff9ff;
	-fx-scale-y: 1.1;
}

.danger_button:hover{
	-fx-background-color: #eb1f48;
	-fx-scale-y: 1.1;
}

.button .danger_button :pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.root {
    -fx-accent: #bcbcbc;
    -fx-focus-color: #bcbcbc;
}

.label-info{
	-fx-font-size: 11.0;
	-fx-margin: 15.0;
	-fx-padding: 0.0 0.0 0.0 8.0 ;
}


.tab-pane-class{
	-fx-border-color:black;
	-fx-border-width:1.0px;
}

.list-view-intro{

	-fx-font-size: 15.0px;
}

.list-view .list-cell:hover {
  -fx-background-color:#cdfafa;
}

.list-view .list-cell:selected {
  -fx-background-color: #6ff9ff;
}

.list-view-class .list-cell:focused {
  -fx-background-color: #6fe2ff;
}

.tree-cell:hover{
	-fx-background-color:#cdfafa;
}

.tree-cell:selected{
	-fx-background-color: #6ff9ff;
  
}
